<h1 class="text-center mt-5">Agregar País</h1>


<form id="addPais" method="post" acction="/add/pais">
    nombre: <input class="form-control" type="text" name="nombre" id="nombre" required>
    continente: <input class="form-control" type="text" name="continente" id="continente" required>
    poblacion: <input class="form-control" type="text" name="poblacion" id="poblacion" required>
    pib_2019: <input class="form-control" type="text" name="pib_2019" id="pib_2019" required>
    pib_2020: <input class="form-control" type="text" name="pib_2020" id="pib_2020" required>
    <button  type="submit" class="btn btn-primary mt-3">Enviar</button>
</form>